/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/

body {
  min-width: 810px;
}

/* Containers
----------------------------------------------------------------------------------------------------*/
.container-30 {
	margin-left: auto;
	margin-right: auto;
	width: 810px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/


.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-17,
.grid-18,
.grid-19,
.grid-20,
.grid-21,
.grid-22,
.grid-23,
.grid-24,
.grid-25,
.grid-26,
.grid-27,
.grid-28,
.grid-29,
.grid-30 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 1px;
	margin-right: 0px;
}



.push-1, .pull-1,
.push-2, .pull-2,
.push-3, .pull-3,
.push-4, .pull-4,
.push-5, .pull-5,
.push-6, .pull-6,
.push-7, .pull-7,
.push-8, .pull-8,
.push-9, .pull-9,
.push-10, .pull-10,
.push-11, .pull-11,
.push-12, .pull-12,
.push-13, .pull-13,
.push-14, .pull-14,
.push-15, .pull-15,
.push-16, .pull-16,
.push-17, .pull-17,
.push-18, .pull-18,
.push-19, .pull-19,
.push-20, .pull-20,
.push-21, .pull-21,
.push-22, .pull-22,
.push-23, .pull-23,
.push-24, .pull-24,
.push-25, .pull-25,
.push-26, .pull-26,
.push-27, .pull-27,
.push-28, .pull-28,
.push-29, .pull-29,
.push-30, .pull-30 {
	position:relative;
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 30 Columns
----------------------------------------------------------------------------------------------------*/


.container-30 .grid-1 {
	width:26px;
}

.container-30 .grid-2 {
	width:53px;
}

.container-30 .grid-3 {
	width:80px;
}

.container-30 .grid-4 {
	width:107px;
}

.container-30 .grid-5 {
	width:134px;
}

.container-30 .grid-6 {
	width:161px;
}

.container-30 .grid-7 {
	width:188px;
}

.container-30 .grid-8 {
	width:215px;
}

.container-30 .grid-9 {
	width:242px;
}

.container-30 .grid-10 {
	width:269px;
}

.container-30 .grid-11 {
	width:296px;
}

.container-30 .grid-12 {
	width:323px;
}

.container-30 .grid-13 {
	width:350px;
}

.container-30 .grid-14 {
	width:377px;
}

.container-30 .grid-15 {
	width:404px;
}

.container-30 .grid-16 {
	width:431px;
}

.container-30 .grid-17 {
	width:458px;
}

.container-30 .grid-18 {
	width:485px;
}

.container-30 .grid-19 {
	width:512px;
}

.container-30 .grid-20 {
	width:539px;
}

.container-30 .grid-21 {
	width:566px;
}

.container-30 .grid-22 {
	width:593px;
}

.container-30 .grid-23 {
	width:620px;
}

.container-30 .grid-24 {
	width:647px;
}

.container-30 .grid-25 {
	width:674px;
}

.container-30 .grid-26 {
	width:701px;
}

.container-30 .grid-27 {
	width:728px;
}

.container-30 .grid-28 {
	width:755px;
}

.container-30 .grid-29 {
	width:782px;
}

.container-30 .grid-30 {
	width:809px;
}




/* Prefix Extra Space >> 30 Columns
----------------------------------------------------------------------------------------------------*/


.container-30 .prefix-1 {
	padding-left:27px;
}

.container-30 .prefix-2 {
	padding-left:54px;
}

.container-30 .prefix-3 {
	padding-left:81px;
}

.container-30 .prefix-4 {
	padding-left:108px;
}

.container-30 .prefix-5 {
	padding-left:135px;
}

.container-30 .prefix-6 {
	padding-left:162px;
}

.container-30 .prefix-7 {
	padding-left:189px;
}

.container-30 .prefix-8 {
	padding-left:216px;
}

.container-30 .prefix-9 {
	padding-left:243px;
}

.container-30 .prefix-10 {
	padding-left:270px;
}

.container-30 .prefix-11 {
	padding-left:297px;
}

.container-30 .prefix-12 {
	padding-left:324px;
}

.container-30 .prefix-13 {
	padding-left:351px;
}

.container-30 .prefix-14 {
	padding-left:378px;
}

.container-30 .prefix-15 {
	padding-left:405px;
}

.container-30 .prefix-16 {
	padding-left:432px;
}

.container-30 .prefix-17 {
	padding-left:459px;
}

.container-30 .prefix-18 {
	padding-left:486px;
}

.container-30 .prefix-19 {
	padding-left:513px;
}

.container-30 .prefix-20 {
	padding-left:540px;
}

.container-30 .prefix-21 {
	padding-left:567px;
}

.container-30 .prefix-22 {
	padding-left:594px;
}

.container-30 .prefix-23 {
	padding-left:621px;
}

.container-30 .prefix-24 {
	padding-left:648px;
}

.container-30 .prefix-25 {
	padding-left:675px;
}

.container-30 .prefix-26 {
	padding-left:702px;
}

.container-30 .prefix-27 {
	padding-left:729px;
}

.container-30 .prefix-28 {
	padding-left:756px;
}

.container-30 .prefix-29 {
	padding-left:783px;
}



/* Suffix Extra Space >> 30 Columns
----------------------------------------------------------------------------------------------------*/


.container-30 .suffix-1 {
	padding-right:27px;
}

.container-30 .suffix-2 {
	padding-right:54px;
}

.container-30 .suffix-3 {
	padding-right:81px;
}

.container-30 .suffix-4 {
	padding-right:108px;
}

.container-30 .suffix-5 {
	padding-right:135px;
}

.container-30 .suffix-6 {
	padding-right:162px;
}

.container-30 .suffix-7 {
	padding-right:189px;
}

.container-30 .suffix-8 {
	padding-right:216px;
}

.container-30 .suffix-9 {
	padding-right:243px;
}

.container-30 .suffix-10 {
	padding-right:270px;
}

.container-30 .suffix-11 {
	padding-right:297px;
}

.container-30 .suffix-12 {
	padding-right:324px;
}

.container-30 .suffix-13 {
	padding-right:351px;
}

.container-30 .suffix-14 {
	padding-right:378px;
}

.container-30 .suffix-15 {
	padding-right:405px;
}

.container-30 .suffix-16 {
	padding-right:432px;
}

.container-30 .suffix-17 {
	padding-right:459px;
}

.container-30 .suffix-18 {
	padding-right:486px;
}

.container-30 .suffix-19 {
	padding-right:513px;
}

.container-30 .suffix-20 {
	padding-right:540px;
}

.container-30 .suffix-21 {
	padding-right:567px;
}

.container-30 .suffix-22 {
	padding-right:594px;
}

.container-30 .suffix-23 {
	padding-right:621px;
}

.container-30 .suffix-24 {
	padding-right:648px;
}

.container-30 .suffix-25 {
	padding-right:675px;
}

.container-30 .suffix-26 {
	padding-right:702px;
}

.container-30 .suffix-27 {
	padding-right:729px;
}

.container-30 .suffix-28 {
	padding-right:756px;
}

.container-30 .suffix-29 {
	padding-right:783px;
}



/* Push Space >> 30 Columns
----------------------------------------------------------------------------------------------------*/


.container-30 .push-1 {
	left:27px;
}

.container-30 .push-2 {
	left:54px;
}

.container-30 .push-3 {
	left:81px;
}

.container-30 .push-4 {
	left:108px;
}

.container-30 .push-5 {
	left:135px;
}

.container-30 .push-6 {
	left:162px;
}

.container-30 .push-7 {
	left:189px;
}

.container-30 .push-8 {
	left:216px;
}

.container-30 .push-9 {
	left:243px;
}

.container-30 .push-10 {
	left:270px;
}

.container-30 .push-11 {
	left:297px;
}

.container-30 .push-12 {
	left:324px;
}

.container-30 .push-13 {
	left:351px;
}

.container-30 .push-14 {
	left:378px;
}

.container-30 .push-15 {
	left:405px;
}

.container-30 .push-16 {
	left:432px;
}

.container-30 .push-17 {
	left:459px;
}

.container-30 .push-18 {
	left:486px;
}

.container-30 .push-19 {
	left:513px;
}

.container-30 .push-20 {
	left:540px;
}

.container-30 .push-21 {
	left:567px;
}

.container-30 .push-22 {
	left:594px;
}

.container-30 .push-23 {
	left:621px;
}

.container-30 .push-24 {
	left:648px;
}

.container-30 .push-25 {
	left:675px;
}

.container-30 .push-26 {
	left:702px;
}

.container-30 .push-27 {
	left:729px;
}

.container-30 .push-28 {
	left:756px;
}

.container-30 .push-29 {
	left:783px;
}



/* Pull Space >> 30 Columns
----------------------------------------------------------------------------------------------------*/


.container-30 .pull-1 {
	left:-27px;
}

.container-30 .pull-2 {
	left:-54px;
}

.container-30 .pull-3 {
	left:-81px;
}

.container-30 .pull-4 {
	left:-108px;
}

.container-30 .pull-5 {
	left:-135px;
}

.container-30 .pull-6 {
	left:-162px;
}

.container-30 .pull-7 {
	left:-189px;
}

.container-30 .pull-8 {
	left:-216px;
}

.container-30 .pull-9 {
	left:-243px;
}

.container-30 .pull-10 {
	left:-270px;
}

.container-30 .pull-11 {
	left:-297px;
}

.container-30 .pull-12 {
	left:-324px;
}

.container-30 .pull-13 {
	left:-351px;
}

.container-30 .pull-14 {
	left:-378px;
}

.container-30 .pull-15 {
	left:-405px;
}

.container-30 .pull-16 {
	left:-432px;
}

.container-30 .pull-17 {
	left:-459px;
}

.container-30 .pull-18 {
	left:-486px;
}

.container-30 .pull-19 {
	left:-513px;
}

.container-30 .pull-20 {
	left:-540px;
}

.container-30 .pull-21 {
	left:-567px;
}

.container-30 .pull-22 {
	left:-594px;
}

.container-30 .pull-23 {
	left:-621px;
}

.container-30 .pull-24 {
	left:-648px;
}

.container-30 .pull-25 {
	left:-675px;
}

.container-30 .pull-26 {
	left:-702px;
}

.container-30 .pull-27 {
	left:-729px;
}

.container-30 .pull-28 {
	left:-756px;
}

.container-30 .pull-29 {
	left:-783px;
}




/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}