/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
*/


/* Containers
----------------------------------------------------------------------------------------------------*/
.container-24 {
	margin-left: auto;
	margin-right: auto;
	width: 816px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-17,
.grid-18,
.grid-19,
.grid-20,
.grid-21,
.grid-22,
.grid-23,
.grid-24 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 3px;
	margin-right: 3px;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 24 Columns
----------------------------------------------------------------------------------------------------*/

.container-24 .grid-1 {
	width:28px;
}

.container-24 .grid-2 {
	width:62px;
}

.container-24 .grid-3 {
	width:96px;
}

.container-24 .grid-4 {
	width:130px;
}

.container-24 .grid-5 {
	width:164px;
}

.container-24 .grid-6 {
	width:198px;
}

.container-24 .grid-7 {
	width:232px;
}

.container-24 .grid-8 {
	width:266px;
}

.container-24 .grid-9 {
	width:300px;
}

.container-24 .grid-10 {
	width:334px;
}

.container-24 .grid-11 {
	width:368px;
}

.container-24 .grid-12 {
	width:402px;
}

.container-24 .grid-13 {
	width:436px;
}

.container-24 .grid-14 {
	width:470px;
}

.container-24 .grid-15 {
	width:504px;
}

.container-24 .grid-16 {
	width:538px;
}

.container-24 .grid-17 {
	width:572px;
}

.container-24 .grid-18 {
	width:606px;
}

.container-24 .grid-19 {
	width:640px;
}

.container-24 .grid-20 {
	width:674px;
}

.container-24 .grid-21 {
	width:708px;
}

.container-24 .grid-22 {
	width:742px;
}

.container-24 .grid-23 {
	width:776px;
}

.container-24 .grid-24 {
	width:810px;
}



/* Prefix Extra Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/

.container-24 .prefix_1 {
	padding-left:34px;
}

.container-24 .prefix_2 {
	padding-left:68px;
}

.container-24 .prefix_3 {
	padding-left:102px;
}

.container-24 .prefix_4 {
	padding-left:136px;
}

.container-24 .prefix_5 {
	padding-left:170px;
}

.container-24 .prefix_6 {
	padding-left:204px;
}

.container-24 .prefix_7 {
	padding-left:238px;
}

.container-24 .prefix_8 {
	padding-left:272px;
}

.container-24 .prefix_9 {
	padding-left:306px;
}

.container-24 .prefix_10 {
	padding-left:340px;
}

.container-24 .prefix_11 {
	padding-left:374px;
}

.container-24 .prefix_12 {
	padding-left:408px;
}

.container-24 .prefix_13 {
	padding-left:442px;
}

.container-24 .prefix_14 {
	padding-left:476px;
}

.container-24 .prefix_15 {
	padding-left:510px;
}

.container-24 .prefix_16 {
	padding-left:544px;
}

.container-24 .prefix_17 {
	padding-left:578px;
}

.container-24 .prefix_18 {
	padding-left:612px;
}

.container-24 .prefix_19 {
	padding-left:646px;
}

.container-24 .prefix_20 {
	padding-left:680px;
}

.container-24 .prefix_21 {
	padding-left:714px;
}

.container-24 .prefix_22 {
	padding-left:748px;
}

.container-24 .prefix_23 {
	padding-left:782px;
}



/* Suffix Extra Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/

.container-24 .suffix_1 {
	padding-right:34px;
}

.container-24 .suffix_2 {
	padding-right:68px;
}

.container-24 .suffix_3 {
	padding-right:102px;
}

.container-24 .suffix_4 {
	padding-right:136px;
}

.container-24 .suffix_5 {
	padding-right:170px;
}

.container-24 .suffix_6 {
	padding-right:204px;
}

.container-24 .suffix_7 {
	padding-right:238px;
}

.container-24 .suffix_8 {
	padding-right:272px;
}

.container-24 .suffix_9 {
	padding-right:306px;
}

.container-24 .suffix_10 {
	padding-right:340px;
}

.container-24 .suffix_11 {
	padding-right:374px;
}

.container-24 .suffix_12 {
	padding-right:408px;
}

.container-24 .suffix_13 {
	padding-right:442px;
}

.container-24 .suffix_14 {
	padding-right:476px;
}

.container-24 .suffix_15 {
	padding-right:510px;
}

.container-24 .suffix_16 {
	padding-right:544px;
}

.container-24 .suffix_17 {
	padding-right:578px;
}

.container-24 .suffix_18 {
	padding-right:612px;
}

.container-24 .suffix_19 {
	padding-right:646px;
}

.container-24 .suffix_20 {
	padding-right:680px;
}

.container-24 .suffix_21 {
	padding-right:714px;
}

.container-24 .suffix_22 {
	padding-right:748px;
}

.container-24 .suffix_23 {
	padding-right:782px;
}



/* Push Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/

.container-24 .push_1 {
	left:34px;
}

.container-24 .push_2 {
	left:68px;
}

.container-24 .push_3 {
	left:102px;
}

.container-24 .push_4 {
	left:136px;
}

.container-24 .push_5 {
	left:170px;
}

.container-24 .push_6 {
	left:204px;
}

.container-24 .push_7 {
	left:238px;
}

.container-24 .push_8 {
	left:272px;
}

.container-24 .push_9 {
	left:306px;
}

.container-24 .push_10 {
	left:340px;
}

.container-24 .push_11 {
	left:374px;
}

.container-24 .push_12 {
	left:408px;
}

.container-24 .push_13 {
	left:442px;
}

.container-24 .push_14 {
	left:476px;
}

.container-24 .push_15 {
	left:510px;
}

.container-24 .push_16 {
	left:544px;
}

.container-24 .push_17 {
	left:578px;
}

.container-24 .push_18 {
	left:612px;
}

.container-24 .push_19 {
	left:646px;
}

.container-24 .push_20 {
	left:680px;
}

.container-24 .push_21 {
	left:714px;
}

.container-24 .push_22 {
	left:748px;
}

.container-24 .push_23 {
	left:782px;
}



/* Pull Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/

.container-24 .pull-1 {
	left:-34px;
}

.container-24 .pull-2 {
	left:-68px;
}

.container-24 .pull-3 {
	left:-102px;
}

.container-24 .pull-4 {
	left:-136px;
}

.container-24 .pull-5 {
	left:-170px;
}

.container-24 .pull-6 {
	left:-204px;
}

.container-24 .pull-7 {
	left:-238px;
}

.container-24 .pull-8 {
	left:-272px;
}

.container-24 .pull-9 {
	left:-306px;
}

.container-24 .pull-10 {
	left:-340px;
}

.container-24 .pull-11 {
	left:-374px;
}

.container-24 .pull-12 {
	left:-408px;
}

.container-24 .pull-13 {
	left:-442px;
}

.container-24 .pull-14 {
	left:-476px;
}

.container-24 .pull-15 {
	left:-510px;
}

.container-24 .pull-16 {
	left:-544px;
}

.container-24 .pull-17 {
	left:-578px;
}

.container-24 .pull-18 {
	left:-612px;
}

.container-24 .pull-19 {
	left:-646px;
}

.container-24 .pull-20 {
	left:-680px;
}

.container-24 .pull-21 {
	left:-714px;
}

.container-24 .pull-22 {
	left:-748px;
}

.container-24 .pull-23 {
	left:-782px;
}




/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}