/**
 * @file
 * General/Custom Styling
 */

/*
 * Top menu/search
 */

#top-menu-search {
  background: #333;
  height: 30px;
}

#top-menu-search-block {
  float: right;
}

#top-menu-search-block #search-block-form {
  width: 195px;
}

#top-menu-search-block #search-block-form input.form-text {
  background-color: #666666;
  border: 1px solid #999999;
  color: white;
  font-size: 10px;
  height: 16px;
  padding: 2px 0 0 5px;
  width: 140px;
}

#top-menu-search-block #search-block-form input.form-submit {
  background: url("../images/search_button.jpg") no-repeat scroll center center transparent;
  border: 0 none;
  margin: 4px 0 0 5px;
  overflow: hidden;
  position: relative;
  text-indent: -1000px;
  top: 0;
  width: 10px;
}


#top-menu-search #secondary-menu {
  padding-left: 14px;
}

#top-menu-search li {
  border-right: solid 1px #fff;
}

#top-menu-search li.last {
  border-right: none;
}

#top-menu-search li a {
  color: white;
  font-size: 10px;
  text-transform: uppercase;
}

/*
 * Main Navigation
 */

#navigation ul {
}

#navigation ul.links li {
  background: url("../images/separator.jpg") no-repeat scroll right center transparent;
  padding: 0px;
}

#navigation ul.links li.last {
  background: none;
}

#navigation ul li a {
  color: #FFFFFF;
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 0;
  text-align: center;
  text-decoration: none;
  width: 11.25em;
}
#navigation ul li a.active {
  background-image: url("../images/btn.jpg");
}

/*
 * Breadcrumb
 */
.breadcrumb {
  background: url("../images/breadcrumbs.jpg");
  clear: both;
  height: 22px;
  padding: 6px 0 0 27px;
  position: relative;
  top: 160px;
  vertical-align: bottom;
  z-index: 1;
}

/*
 * Main Content
 */

#main-wrapper,
#content .section {
  background: #fff;
}

#content .section {
  padding: 27px;
}

h1.title {
  color: #CC0000;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 18px;
}

/*
 * Two column layout in main content area
 */


.region-content-first,
.region-content-second {
  width: 254px;
}

.region-content-first {
  float: left;
}

.region-content-second {
  float: right;
}

.region-content-first  h2.block-title,
.region-content-second h2.block-title {
  background: url("../images/green_header.jpg") repeat-x scroll 0 0 transparent;
  font-size: 14px;
  padding: 5px 10px;
  font-weight: normal;
  text-align: left;
}

/*
 * Sidebar/blocks
 */

.region-sidebar-second {
  background: url("../images/faux_column.jpg") repeat-y scroll 0 0 transparent;
  margin-top: 57px !important;
}

.region-sidebar-second .section {
  margin: 0px;
  padding: 0px;
}

h2.block-title {
  background: url("../images/user_header.jpg") repeat-x scroll 0 0 transparent;
  color: #fff;
  font-size: 12px;
  padding: 5px 0;
  text-align: center;
}
