/**
 * @file
 * Field Styling
 *
 * The Fences module allows site builders to pick the semeantic HTML5 element
 * for each field while editing the field's settings. There's no way a theme
 * can ever know which element to use for the fields on your site, so Zen
 * just uses lets Drupal core or Fences decide. Since you DO NOT want 3 wrapping
 * divs around every field (do you?), we highly recommend Fences.
 *
 * http://drupal.org/project/fences
 */
/* line 103, ../sass/_base.scss */
.page-node-3580 #page .fronttable {
  border: none;
}
/* line 106, ../sass/_base.scss */
.page-node-3580 #page .fronttable th, .page-node-3580 #page .fronttable td {
  text-align: center;
  border-bottom: none;
  background: none;
}
/* line 111, ../sass/_base.scss */
.page-node-3580 #page .fronttable .email {
  text-align: right !important;
}
/* line 114, ../sass/_base.scss */
.page-node-3580 #page .fronttable .viewcalendar {
  text-align: left !important;
}
/* line 117, ../sass/_base.scss */
.page-node-3580 #page .fronttable .upload {
  padding-right: 40px !important;
}

/*
 * Field wrappers when the Fences module is enabled.
 */
/* line 21, ../sass/fields.scss */
.field-label {
  /* The optional label for a field. */
}

/* line 24, ../sass/fields.scss */
.field-FIELDNAME {
  /* Underscores in field name are replaced with dashes. */
}

/*
 * If you don't use the Fences module, that's fine. Really. I think. Just use
 * these selectors instead:
 */
/* line 33, ../sass/fields.scss */
.field {
  /* Wrapper for any field. */
}

/*
 * Field types (Core)
 */
/*
 * Field types (Contrib)
 */
/* line 83, ../sass/fields.scss */
.field-type-datetime {
  /* Always use "datetime" when creating new CCK date fields. "date" and "datestamp" are legacy types. */
}

/*
 * Named fields
 */
/* line 105, ../sass/fields.scss */
.field-name-field-FIELDNAME {
  /* Underscores in field name are replaced with dashes. */
}
