/* mobile.css */

/* =============================================================================
   mobile.css adds mobile css. Because the Zen template is actually not that 
   friendly to mobile first development.

   ========================================================================== */

@media all and (max-width: 480px) {
  
  /*
   * Navigation bar - mobile version
   */

   #navigation #main-menu ul{
     padding:0 1em;
   }
   #navigation #main-menu li {
     font-size:75%;
     border:none;
   }
   #content {
    padding: 0 1em;
   }

  /* =============================================================================
     Typography
     ========================================================================== */


  h1 {
    font-size: 1.5em;
    line-height: 1em; 
  }

 h2 {
    font-size: 1.25em;
    line-height: 1.25em; 
  }

  h3 {
    font-size: 1em;
    line-height: 1em; 
  }

  h4 {
    font-size: .83em;
    line-height: 1em; 
  }

  h5 {
    font-size: 0.75em;
    line-height: 1em; 
  }
}

@media all and (max-width: 600px) {
  /*
   * Establish baseline rules for home images  and partners block- mobile first
   */
  #block-block-14 li img, #block-block-10 li img{
    max-width:100%;
  }

  #block-block-11 li {
   margin:1.5%;
   width:44%;
  } 
  #block-block-10 li {
   width:50%;
  }
  h1#site-name {
   text-indent:0;
   display:block;
  } 
  div.region-header {
   display:none;
  }
  #block-jump-menu-jump-menu-m-main-menu {
    display:inline-block;
    margin-left:3em;
    margin-top:.5em;
  }
  #block-system-main-menu {
   display:none;
  }
}
