/**
 * @file
 * RTL companion for the pages.css file.
 */
/* line 103, ../sass/_base.scss */
.page-node-3580 #page .fronttable {
  border: none;
}
/* line 106, ../sass/_base.scss */
.page-node-3580 #page .fronttable th, .page-node-3580 #page .fronttable td {
  text-align: center;
  border-bottom: none;
  background: none;
}
/* line 111, ../sass/_base.scss */
.page-node-3580 #page .fronttable .email {
  text-align: right !important;
}
/* line 114, ../sass/_base.scss */
.page-node-3580 #page .fronttable .viewcalendar {
  text-align: left !important;
}
/* line 117, ../sass/_base.scss */
.page-node-3580 #page .fronttable .upload {
  padding-right: 40px !important;
}

/*
 * Header
 */
/* line 13, ../sass/pages-rtl.scss */
#logo {
  /* Wrapping link for logo */
  float: right;
}

/*
 * Content
 */
/* line 21, ../sass/pages-rtl.scss */
ul.inline li {
  /* List of links */
  display: inline-block;
  /* Bug in Safari causes display: inline to fail. */
  padding: 0 0 0 1em;
}

/* line 25, ../sass/pages-rtl.scss */
span.field-label {
  /* The inline field label used by the Fences.module */
  padding: 0 0 0 1em;
}
