/**
 * @file
 * RTL companion for the tabs.css file.
 */
/* line 103, ../sass/_base.scss */
.page-node-3580 #page .fronttable {
  border: none;
}
/* line 106, ../sass/_base.scss */
.page-node-3580 #page .fronttable th, .page-node-3580 #page .fronttable td {
  text-align: center;
  border-bottom: none;
  background: none;
}
/* line 111, ../sass/_base.scss */
.page-node-3580 #page .fronttable .email {
  text-align: right !important;
}
/* line 114, ../sass/_base.scss */
.page-node-3580 #page .fronttable .viewcalendar {
  text-align: left !important;
}
/* line 117, ../sass/_base.scss */
.page-node-3580 #page .fronttable .upload {
  padding-right: 40px !important;
}

/* line 11, ../sass/tabs-rtl.scss */
ul.primary li,
ul.secondary li {
  float: right;
}

/* line 17, ../sass/tabs-rtl.scss */
ul.primary li {
  margin: 0.5em 3px 0 0;
}
