/**
 * @file
 * Wireframes Styling
 *
 * Add wireframes to the basic layout elements.
 */
/* line 103, ../sass/_base.scss */
.page-node-3580 #page .fronttable {
  border: none;
}
/* line 106, ../sass/_base.scss */
.page-node-3580 #page .fronttable th, .page-node-3580 #page .fronttable td {
  text-align: center;
  border-bottom: none;
  background: none;
}
/* line 111, ../sass/_base.scss */
.page-node-3580 #page .fronttable .email {
  text-align: right !important;
}
/* line 114, ../sass/_base.scss */
.page-node-3580 #page .fronttable .viewcalendar {
  text-align: left !important;
}
/* line 117, ../sass/_base.scss */
.page-node-3580 #page .fronttable .upload {
  padding-right: 40px !important;
}

/* line 19, ../sass/wireframes.scss */
.with-wireframes #header,
.with-wireframes #main,
.with-wireframes #content,
.with-wireframes #navigation,
.with-wireframes .region-sidebar-first,
.with-wireframes .region-sidebar-second,
.with-wireframes #footer,
.with-wireframes .region-bottom {
  outline: 1px solid #ccc;
}
