body {
  background-image: url(../images/bg.jpg);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
}

p, ul, ol {
  margin: 1em 0;
}

ul {
  list-style: disc inside;
}

ol {
  list-style: decimal inside;
}

a, a:hover, a:link {
  color: blue;
  text-decoration: underline;
}

a:visited {
  color: #551a8b;
}

a:active {
  color: red;
}

#page {
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0 !important;
}

.zone {
  background-color: white;
}

.orange {
  color: #d7963d;
}

/* Top menu */
#zone-user {
  background-color: #333333;
  height: 30px;
}

#zone-user  ul li a, #zone-user  ul li a:hover, #zone-user  ul li a:visited {
  text-transform: uppercase;
  text-decoration: underline;
  color: white;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 90%;
}

#zone-user ul li {
  display: block;
  float: left;
  list-style: none outside none;
  margin-top: 2px;
}

/* Search Block */
#search-block-form {
  float: right;
  position: relative;
}

#search-block-form .form-item {
  margin: 0;
}

#search-block-form .form-text {
  background-color: #666666;
  border: 1px solid #999999;
  color: white;
  font-size: 10px;
  height: 16px;
  padding: 2px 0 0 5px;
  width: 140px;
}

#search-block-form .form-actions {
}

#search-block-form .form-submit {
  background-image: url("../images/search_button.jpg");
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  height: 14px;
  width: 4px;
  text-indent: -9999px;
  text-align: left;
  padding: 0px;
  border: 0px;
  position: relative;
  top: 4px;
}

#search-block-form label {
  font-size: 10px;
  font-weight: normal;
  color: #fff;
}

/* Logo block */
#zone-branding {
  height: 220px;
  background-image: url("../images/GTCheader2015.png");
  background-repeat: no-repeat;
}

/* Logo Menu */
#block-menu-menu-logo-menu ul li {
  background: url("../images/separator.jpg") no-repeat scroll right center transparent;
  list-style: none outside none;
  display: block;
  float: left;
  width: 10em;
  text-align: center;
  padding: 0;
  margin: 0;
}

#block-menu-menu-logo-menu ul li.last {
  background: none;
}

#block-menu-menu-logo-menu ul li a {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  display: block;
  line-height: 24px;
  height: 24px;
  padding: 0;
}

#block-menu-menu-logo-menu ul li a.active {
  background-image: url("../images/btn.jpg");
}

#block-menu-menu-logo-menu {
  background-image: url("../images/button.jpg");
  width: 816px;
}

#region-menu {
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  top: 197px;
}

/* Breadcrumb */
#breadcrumb {
  margin-left: 0;
  margin-right: 0;
  width: 816px;
  background-image: url("../images/breadcrumbs.jpg");
  height: 22px;
  padding-bottom: 0;
  padding-top: 6px;
  vertical-align: bottom;
}

.breadcrumb {
  padding-left: 27px;
}

/* Top Menu */
#zone-user ul.menu {
  margin-top: 8px;
  margin-left: 5px;
}

#zone-user ul.menu li {
  border-right: 1px solid #fff;
  padding-right: 8px;
  line-height: 8px;
}

#zone-user ul.menu li.last {
  border-right: 0px;
}

#zone-user ul.menu li a {
  position: relative;
  top: -3px;
  font-size: 10px;
}

/* Footer zone */
#zone-footer .region-footer-second {
  margin: 0;
  width: 816px;
}

#zone-footer .region-footer-second-inner {
  background-color: #2b2b2b;
  color: white;
  font-size: 10px;
  line-height: 71px;
}

#zone-footer .region-footer-second-inner p {
  margin: 0;
}

#zone-footer .region-footer-second-inner img {
  float: left;
}

#zone-footer #footer_message {
  padding-left: 333px;
}

#zone-footer #footer_message a {
  color: #fff;
}

/* Sidebar */
.region-sidebar-second {
  margin-top: 30px;
}

.region-sidebar-second .block-title {
  background: url(../images/user_header.jpg) repeat-x top left transparent;
  font-size: 12px;
  padding: 5px 0px 5px 0px;
  text-align: center;
  font-weight: 900;
  color: white;
}

.region-sidebar-second .block .content {
  padding: 10px;
}

.region-sidebar-second .block .content .content {
  padding: 0;
}

/* Add to library block */
#block-block-3 {
  background: url(../images/rectangle.jpg) repeat-x bottom left #4557b4;
  padding: 11px 14px;
  height: 70px;
}

#block-block-3 .content {
  padding: 0;
}

/* Meeting block */
#block-block-17 {
  background-color: #4457b5;
  padding: 11px 14px 0 14px;
  height: 73px;
}

#block-block-17 .content {
  padding: 0;
}

#block-jhu-library-library-statistics li {
  margin-left: 0;
  padding-left: 0;
}

/* Add to calendar block */
#block-block-4 {
  background: url(../images/rectangle.jpg) repeat-x bottom left #4557b4;
  padding: 11px 14px;
  height: 70px;
}

#block-block-4 .content {
  padding: 0;
}


/* Library Search block */
.block-views-exp-library-search-page {
  color: #FFFFFF;
}

.block-views-exp-library-search-page h2 {
  background-image: url("../images/user_header.jpg");
  color: #FFFFFF;
  font-weight: 900;
  margin-top: 0;
  padding: 5px 0 3px 5px;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0;
}

.block-views-exp-library-search-page .content {
  background-color: #26264C;
  color: #FFFFFF;
  padding: 0 8px 0 5px;
}

.block-views-exp-library-search-page select.form-select {
  width: 180px;
}

.block-views-exp-library-search-page input.form-text {
  width: 175px;
}

.block-views-exp-library-search-page .views-exposed-form .views-exposed-widget {
  float: left;
  padding: 0;
}

.block-views-exp-library-search-page .form-submit {
  background-color: #666600;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  display: block;
  font-size: 12px;
  margin-left: 70px;
  margin-right: auto;
  margin-top: 20px;
  padding: 0;
  width: 54px;
}

.container-30 {
  width: 816px !important;
}

.container-30 .grid-8 {
  left: 6px;
  background-color: #26264c;
  color: #fff;
}

/* Featured Partner */
#block-nodeblock-22 p {
  margin: 14px 0;
}

/* Nodes */
#zone-content h1.title {
  font-size: 18px;
  line-height: 21px;
  color: #C00;
  padding-bottom: 9px;
  border-bottom: 1px solid #c2c2c2;
}

#zone-content .region-content .region-inner {
  margin: 25px;
}

/* Libraries */
#block-views-library-documents-block,
#block-views-library-documents-block-1 {
  margin-right: 35px;
}

.clear-block {
  clear: both;
  margin: 20px 0;
}

.view-library-search .views-results-summary {
  font-weight: bold;
  color: #000;
  font-size: 12px;
  text-transform: uppercase;
  padding-bottom: 20px;
  display: block;
}

.view-library-search .views-results-summary span {
  text-transform: lowercase;
}

.view-library-search table {
  border-left: 0;
  border-right: 0;
}

.view-library-search th {
  font-size: 11px;
  font-weight: bold;
  color: #666;
  padding: 7px;
}

.view-library-search td {
  font-size: 12px;
  vertical-align: top;
}

.view-library-search td a {
  text-decoration: none;
}

.view-library-search .views-field-title {
  width: 150px;
}

.view-library-search tr.even {
  background: url(../images/zebra.jpg) repeat-x left top transparent;
}

.view-library-search tr.even td,
.view-library-search tr.odd,
.view-library-search tr.odd td {
  background: none;
}

.view-library-search .view-footer {
  display: block;
  clear: both;
  margin: 20px 0;
}

.view-library-search .view-footer a {
  display: block;
  margin: 10px 0;
}

/* Calendar */
#block-views-upcoming-events-block {
  width: 215px;
}

.not-front #block-views-upcoming-events-block .content ul {
  padding-left: 5px;
}

.not-front #block-views-upcoming-events-block .content ul,
.not-front #block-views-upcoming-events-block .content li a {
  color: #F6963D;
  background: none;
}

.not-front #block-views-upcoming-events-block .block-title {
  background: url(../images/user_header.jpg) repeat-x top left transparent;
  font-size: 12px;
  padding: 5px 0px 5px 0px;
  text-align: center;
  font-weight: 900;
  color: white;
}

.not-front #block-views-upcoming-events-block .content li {
  list-style: disc;
  line-height: 16px;
  margin-bottom: 7px;
  background: none;
  padding-left: 0;
}

.not-front #block-views-upcoming-events-block .content li .views-field-field-event-date {
  color: #fff;
  text-align: right;
}

#block-views-exp-event-search-page .views-exposed-form .views-exposed-widget {
  padding-top: 0;
}

#block-views-exp-event-search-page label {
  font-size: 12px;
}

#block-views-exp-event-search-page input {
  width: 189px;
}

#block-views-exp-event-search-page select {
  width: 194px;
}

#block-views-exp-event-search-page #edit-field-event-date-value-value-wrapper label,
#block-views-exp-event-search-page #edit-field-event-date-value2-value-wrapper label {
  display: none;
}

#block-views-exp-event-search-page .container-inline-date .date-padding {
  margin: 0;
  padding: 0;
}

#block-views-exp-event-search-page .form-submit {
  background-color: #660;
  border: 1px solid white;
  color: white;
  display: block;
  font-size: 12px;
  margin-left: 70px;
  margin-right: auto;
  margin-top: 20px;
  padding: 0;
  width: 54px;
}

.view-calendar .date-nav-wrapper .date-nav {
  background-color: #26264c;
  height: 28px;
  min-height: auto;
  padding: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 14px;
}

.view-calendar .date-nav-wrapper .date-nav h3 {
  color: #fff;
  font-size: 14px;
}

.view-calendar .date-nav-wrapper .date-prev {
  background-color: transparent;
  padding: 0;
  height: 28px;
  left: 0;
  right: 0;
  width: 20px;
}

.view-calendar .date-nav-wrapper .date-next {
  background-color: #26264c;
  padding: 0;
  height: 28px;
  width: 20px;
}

.view-calendar .date-nav-wrapper .date-next span,
.view-calendar .date-nav-wrapper .date-prev span {
  margin: 0;
}

.view-calendar .date-nav-wrapper .date-prev a {
  background: url(../images/b_arrow.jpg) no-repeat center center transparent;
  text-align: left;
  text-indent: -9999px;
  display: block;
  height: 28px;
}

.view-calendar .date-nav-wrapper .date-next a {
  background: url(../images/f_arrow.jpg) no-repeat center center transparent;
  text-align: left;
  text-indent: -9999px;
  display: block;
  height: 28px;
}

.view-calendar .view-footer {
  display: block;
  clear: both;
  margin: 20px 0;
}

.view-calendar .view-footer a {
  display: block;
  margin: 10px 0;
}

.view-calendar .color-1 .calendar,
.view-calendar .color-1 .cutoff,
.view-calendar .color-1 .continues {
  background-color: #ff6 !important;
  line-height: 18px;
}

.view-calendar .color-2 .calendar,
.view-calendar .color-2 .cutoff,
.view-calendar .color-2 .continues {
  background-color: #f66 !important;
  line-height: 18px;
}

.view-calendar .color-3 .calendar,
.view-calendar .color-3 .cutoff,
.view-calendar .color-3 .continues {
  background-color: #668cff !important;
  line-height: 18px;
}

.view-calendar .color-4 .calendar,
.view-calendar .color-4 .cutoff,
.view-calendar .color-4 .continues {
  background-color: #ffb366 !important;
  line-height: 18px;
}

.view-calendar .color-5 .calendar,
.view-calendar .color-5 .cutoff,
.view-calendar .color-5 .continues {
  background-color: #85ff66 !important;
  line-height: 18px;
}

.view-calendar .color-6 .monthview,
.view-calendar .color-6 .calendar,
.view-calendar .color-6 .continues {
  background-color: #a666ff !important;
  line-height: 18px;
}

.view-calendar .color-7 .calendar,
.view-calendar .color-7 .cutoff,
.view-calendar .color-7 .continues {
  background-color: #ffe066 !important;
  line-height: 18px;
}

.view-calendar .color-8 .calendar,
.view-calendar .color-8 .cutoff,
.view-calendar .color-8 .continues {
  background-color: #66ffff !important;
  line-height: 18px;
}

.view-calendar .color-9 .calendar,
.view-calendar .color-9 .cutoff,
.view-calendar .color-9 .continues {
  background-color: #ff66d9 !important;
  line-height: 18px;
}

.view-calendar .color-10 .calendar,
.view-calendar .color-10 .cutoff,
.view-calendar .color-10 .continues {
  background-color: #ddd !important;
  line-height: 18px;
}

#block-views-exp-event-search-page .block-title {
  text-align: left;
  padding-left: 10px;
}

/* Work Space */
#block-views-country-teams-block,
#block-views-workspace-calendar-events-block,
#block-views-53fa91ee9c3da7644cabd91c43557b39 {
  margin-right: 35px;
}

.block-green-header {
  background: url(../images/green_header.jpg) repeat-x top left transparent;
  width: 254px;
  float: left;
}

.block-green-header .block-title {
  color: #fff;
  padding: 6px 10px 10px 10px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

.block-green-header-arrow .block-title {
  background: url(../images/white_arrow.jpg) no-repeat 240px 9px transparent;
}

.block-green-header-arrow .block-title a {
  color: #fff;
  text-decoration: none;
}

.block-green-header .block-title-link {
  text-decoration: none;
}

.block-green-header .view-content {
  padding: 5px;
}

.block-green-header .view-content .item-list ul {
  margin: 0;
  padding: 0;
}

.block-green-header .view-content li {
  list-style: none;
  padding-left: 10px;
  background: url(../images/bullet.jpg) no-repeat 0 5px transparent;
  line-height: 16px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.block-green-header .view-content ul ul {
  padding-left: 30px;
}

.event-range {
  background-color: #999;
  width: 210px;
  font-size: 10px;
  color: #fff;
  text-align: center;
  margin: 20px 0;
}

.event-range a {
  text-decoration: none;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  padding: 0 7px;
}

.button-block {
  width: 254px;
  float: left;
}

.clear-left {
  clear: left;
}

.margin-right-35 {
  margin-right: 35px;
}

/* Partners */
#no_col {
  width: 100%;
}

#block-views-partner-our-staff-block {
  width: 100%;
}

#block-views-partner-our-staff-block .view-content {
  padding: 0;
  border-top: 1px solid #ccc;
  margin-top: 5px;
}

#block-views-partner-our-staff-block table {
  border: 0;
}

#block-views-partner-our-staff-block table th {
  display: none;
}

#block-views-partner-our-staff-block table td,
#block-views-partner-our-staff-block table tr {
  border: 0;
}

#block-views-partner-our-staff-block table td {
  padding-top: 15px;
  padding-bottom: 15px;
}

#block-views-partner-our-staff-block table td i {
  font-style: italic;
}

#block-views-partner-our-staff-block table tr.even td {
  background-color: #ccc;
}

.node-partner .content ul,
.node-partner .content ol {
  margin-left: 15px;
}

/* User profile page */
.page-user .content .profile {
  position: relative;
}

.page-user .content .profile .field-name-field-user-picture {
  position: absolute;
  right: 0;
}

.page-user .content .profile .field-name-field-user-picture img {
  border: 1px solid #000;
}

.page-user .content .profile .field-name-field-user-picture .field-items {
  width: auto;
}

.page-user .content .profile .field {
  padding: 10px 0;
  clear: both;
  overflow: hidden;
}

.page-user .content .profile .field-label {
  font-size: 12px;
  width: 150px;
  text-align: right;
  float: left;
  margin-right: 40px;
}

.page-user .content .profile .field-items {
  width: 160px;
  text-align: left;
  float: left;
}

.page-user .content .profile h3 {
  clear: both;
}

/* Calendar node */
.node-event .field {
  clear: both;
  overflow: hidden;
  padding: 10px 0;
}

.node-event .field-label {
  display: block;
  float: left;
  width: 30%;
  margin-right: -69%;
  text-align: right;
}

.node-event .field-items {
  display: block;
}

.node-event .field-label ~ .field-items {
  display: block;
  float: left;
  margin-left: 31%;
  width: 69%;
}

.print_html, .print_mail, .print_pdf {
  margin-left: 0px;
}

.node-event .field-name-body p {
  margin: 0;
}

.node-event .field-name-field-event-date {
  padding: 0;
}

.node-event .desc {
  text-align: left;
}

.field-name-field-event-date .desc {
  text-align: center;
}

.node-event select {
  width: 100%;
}

#block-block-10 {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

/* User login block */
#block-user-login {
  background: url(../images/rectangle.jpg) repeat-x bottom left #4557b4;
  padding: 2px 2px 12px 2px;
  height: 178px;
}

#block-user-login ul li {
  list-style: disc;
  line-height: 14px;
}

#block-user-login ul,
#block-user-login ul li a {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}

#block-user-login form {
  padding: 10px;
  background-color: #7B86BE;
  border: 1px solid white;
}

#block-user-login form .form-item {
  margin: 0;
  margin-bottom: 2px;
}

#block-user-login form .form-actions {
  clear: both;
  overflow: hidden;
  margin: 2px 2px 6px 2px;
}

#block-user-login form .form-item input {
  background: none repeat scroll 0 0 #B4C9D6;
  border: 1px solid #FFFFFF;
  color: #781351;
  width: 88px;
}

#block-user-login form .form-submit {
  float: right;
  border: 0;
  background: url(../images/login.jpg) no-repeat center center transparent;
  width: 50px;
  height: 20px;
  text-align: left;
  //text-indent: -9999px;
  overflow: hidden;
  margin-right: 0;
}

#block-user-login form hr {
  border: 1px solid #A3ABD2;
  background: none;
  margin-bottom: 0;
}

#block-user-login form .item-list {
  padding-top: 8px;
  clear: both;
  overflow: hidden;
}

#block-user-login form label {
  font-size: 11px;
  display: inline-block;
  vertical-align: text-bottom;
  width: 72px;
  position: relative;
  top: -5px;
}

/* Libary node */
.node-library .content {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.node-library .field {
  clear: both;
  overflow: hidden;
  padding: 10px 0;
}

.node-library .field-label {
  display: block;
  float: left;
  width: 170px;
  text-align: right;
  margin-right: 10px;
}

.node-library .field-items {
  width: 325px;
  float: left;
}

.node-library .field-name-field-library-uploaddocument a {
  font-size: 11px;
}

.node-library .field-name-body .field-label {
  margin-top: 1em;
}

.node-library .field-name-body {
  padding-top: 0px;
}

/* Event search */
.view-event-search .views-results-summary {
  font-weight: bold;
  color: #000;
  font-size: 12px;
  text-transform: uppercase;
  padding-bottom: 20px;
  display: block;
}

.view-event-search .views-results-summary span {
  text-transform: lowercase;
}

.view-event-search table {
  border-left: 0;
  border-right: 0;
}

.view-event-search th {
  font-size: 11px;
  font-weight: bold;
  color: #666;
  padding: 7px;
}

.view-event-search td {
/*  font-size: 11px !important;*/
  vertical-align: top;
}

.view-event-search td a {
  text-decoration: none;
}

.view-event-search .views-field-title {
  width: 150px;
}

.view-event-search tr.even {
  background: url(../images/zebra.jpg) repeat-x left top transparent;
}

.view-event-search tr.even td,
.view-event-search tr.odd,
.view-event-search tr.odd td {
  background: none;
}

.view-event-search .view-footer {
  display: block;
  clear: both;
  margin: 20px 0;
}

.view-event-search .view-footer a {
  display: block;
  margin: 10px 0;
}

/* Homepage */
#block-views-calendar-block-1,
.front #block-views-upcoming-events-block,
#block-views-c9ad55dc98b6fdf8d6deb52533974cf1 {
  width: 255px;
  float: left;
  margin-right: 33px;
}

#block-block-11 {
  margin-top: 5px;
  width: 255px !important;
  margin-bottom: 10px;
}

#block-block-11 .block-title {
  padding-bottom: 2px;
}

#country_overview_intro {
  line-height: 16px;
  margin: 5px;
}

#block-views-calendar-block-1 .date-heading a {
  color: #fff;
  text-decoration: none;
}

#block-views-calendar-block-1 th {
  font-size: 11px;
}

#block-views-calendar-block-1 td {
  border: 1px solid #ccc;
  font-size: 11px;
  padding: 3px;
  height: 28px;
}

#block-views-calendar-block-1 td a {
  color: #224;
  font-weight: bold;
  text-decoration: none;
}

#block-views-calendar-block-1 td a:hover {
  text-decoration: underline;
}

#block-views-calendar-block-1 .view-calendar .date-nav-wrapper .date-nav {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 0;
}

.front #block-views-upcoming-events-block .content li .views-field-field-event-date {
  text-align: right;
}

#block-block-14 {
  margin: 5px 0;
  font-size: 12px;
}

/* Search results */
#search-form .form-submit {
  height: 22px;
  background-color: #690;
  border: 0px;
  color: #fff;
  margin-left: 5px;
}

#search-form fieldset {
  margin-top: 10px;
}

.search-results h3 {
  margin-bottom: 0;
}

.search-results .search-snippet-info {
  padding: 0;
}

.page-search .content h2 {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.page-search .content h2 span {
  text-transform: lowercase;
}

.search-results .search-snippet {
  margin-bottom: 0;
}

.search-results .search-info {
  color: #690;
  font-size: 12px;
}

/* Copied from omega-visuals.css */
table {
  border: 1px solid #CCC;
  width: 100%;
}

thead th, th {
  background: #f7f7f7;
  border-bottom: 1px solid #ccc;
  color: #333;
}

td, th {
  padding: 4px 8px;
  vertical-align: middle;
}

th a, th a:link, th a:visited {
  text-decoration: none;
}

th a {
  display: block;
}

th a img {
  margin: 0 0 0 5px;
}

th.active {
  background: #DDD;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

/* Odd & Even Styles */
tr.even td {
  background: #F1F5FA;
}

tr.odd td {
  background: #fff;
}

td.active {
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

tr.even td.active {
  background: #e5e9ed;
}

tr.odd td.active {
  background: #f2f2f2;
}

tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
  background: #FFFEEE;
}

td ul.links {
  margin-bottom: 0;
}

.tips,
.description {
  font-size: 10px;
  color: #6a6a6a;
}

/* End of omega-visuals.css */

/* Pager theming */
.item-list .pager li {
  margin: 0;
}

.item-list .pager a.active {
  color: #0062A0;
}

.item-list .pager a.active:hover {
  color: #000000;
}

#tipDiv table {
  margin-bottom: 0;
}

/* Country page */
.content-leftside {
  width: 253px;
  float: left;
}

.content-rightside {
  width: 255px;
  float: right;
}

.view-country-workspace-link .views-row a {
  background: url(../images/go2wrkspc.jpg) no-repeat center center transparent;
  width: 154px;
  height: 20px;
  text-align: left;
  text-indent: -9999px;
  overflow: hidden;
  display: block;
}

.view-country-statistics .view-content ul,
.view-country-statistics .view-content li {
  list-style-position: inside;
}

.view-country-statistics .view-content {
  padding: 5px;
}

.view-country-statistics .view-content p {
  margin-bottom: 0;
  font-size: 12px;
  color: #5DA919;
  font-weight: 800;
  line-height: 14pt;
  margin-top: 3px;
}

.view-country-statistics .view-content a {
  font-size: 11px;
  color: #fff;
}

.node-type-forum article.comment > footer,
.node-type-forum article.node > footer,
.comment-forum article.comment > footer,
.comment-forum article.node > footer, .node-type-forum article.comment .author,
.node-type-forum article.node .author,
.comment-forum article.comment .author,
.comment-forum article.node .author, .node-type-forum article.comment .topic-title,
.node-type-forum article.node .topic-title,
.comment-forum article.comment .topic-title,
.comment-forum article.node .topic-title, .node-type-forum article.comment > .content,
.node-type-forum article.node > .content,
.comment-forum article.comment > .content,
.comment-forum article.node > .content, .node-type-forum article.comment .field-name-comment-body,
.comment-forum article.comment .field-name-comment-body, .node-type-forum article.comment header,
.comment-forum article.comment header {
  border: 1px solid #c1c1c1;
  border-bottom: none;
}

article + .forum-reply {
  margin-top: 1em;
}

.forum-reply a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/post.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 110px;
  height: 20px;
  display: block;
}

.node-type-forum article.comment h2.node-title,
.node-type-forum article.node h2.node-title,
.comment-forum article.comment h2.node-title,
.comment-forum article.node h2.node-title {
  background-image: url('../images/green_header.jpg');
  font-size: 1em;
  line-height: 1.2em;
  padding: 5px 10px 5px 5px;
  margin: 1em 0;
}
.node-type-forum article.comment h2.node-title a,
.node-type-forum article.node h2.node-title a,
.comment-forum article.comment h2.node-title a,
.comment-forum article.node h2.node-title a {
  color: white;
  text-decoration: none;
}
.node-type-forum article.comment > footer,
.node-type-forum article.node > footer,
.comment-forum article.comment > footer,
.comment-forum article.node > footer {
  background-color: #55A210;
  font-size: 0.75em;
  font-weight: bold;
  color: white;
  padding: 0.5em;
}
.node-type-forum article.comment > footer a,
.node-type-forum article.node > footer a,
.comment-forum article.comment > footer a,
.comment-forum article.node > footer a {
  display: inline-block;
  float: right;
  color: white;
  font-weight: normal;
}
.node-type-forum article.comment .author,
.node-type-forum article.node .author,
.comment-forum article.comment .author,
.comment-forum article.node .author {
  background-color: #D8F1C2;
  padding: 0.75em;
}
.node-type-forum article.comment .author p,
.node-type-forum article.node .author p,
.comment-forum article.comment .author p,
.comment-forum article.node .author p {
  margin: 0;
  font-size: 0.9em;
}
.node-type-forum article.comment .author p.name,
.node-type-forum article.node .author p.name,
.comment-forum article.comment .author p.name,
.comment-forum article.node .author p.name {
  font-size: 1em;
}
.node-type-forum article.comment .topic-title,
.node-type-forum article.node .topic-title,
.comment-forum article.comment .topic-title,
.comment-forum article.node .topic-title {
  font-size: 0.9em;
  display: block;
  padding: 0.5em;
  margin: 0;
}
.node-type-forum article.comment > .content,
.node-type-forum article.node > .content,
.comment-forum article.comment > .content,
.comment-forum article.node > .content {
  padding: 0.42em;
}
.node-type-forum article.comment nav.links,
.node-type-forum article.node nav.links,
.comment-forum article.comment nav.links,
.comment-forum article.node nav.links {
  border: 1px solid #c1c1c1;
  border-top: none;
  text-align: right;
  padding-bottom: 1em;
}
.node-type-forum article.comment,
.comment-forum article.comment {
  margin-top: 1em;
}
.node-type-forum article.comment .field-name-comment-body,
.comment-forum article.comment .field-name-comment-body {
  *zoom: 1;
  padding: 0.42em;
}
.node-type-forum article.comment .field-name-comment-body:after,
.comment-forum article.comment .field-name-comment-body:after {
  content: "";
  display: table;
  clear: both;
}
.node-type-forum article.comment header,
.comment-forum article.comment header {
  display: block;
  padding: 0.5em;
  margin: 0;
}
.node-type-forum article.comment h3, .node-type-forum article.comment h3 + em,
.comment-forum article.comment h3,
.comment-forum article.comment h3 + em {
  font-size: 0.9em;
  margin: 0;
  display: inline;
}

/* Nodes */
.node .content {
  font-size: 12px;
  line-height: 16px;
}

.node .content ul {
  margin-left: 30px;
}

/* Online users */
#block-jhu-custom-jhu-online .content .item-list ul {
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 200px;
}

#block-jhu-custom-jhu-online .content .item-list li {
  background-image: url(../images/online_user_placeholder.jpg);
  height: 40px;
  margin: 0;
  padding: 0;
  line-height: 40px;
}

#block-jhu-custom-jhu-online .content .item-list li img {
  margin: 0 5px;
  position: relative;
  top: -5px;
}

#block-jhu-custom-jhu-online .content .item-list li .message img {
  top: -15px;
}

#node-page-152 .block-green-header .block-title {
  padding: 5px 10px 8px 10px;
}

#node-page-152 .view-content ul {
  margin: 5px;
}

#node-page-152 .view-content ul ul {
  padding-top: 0;
  margin: 0;
  margin-left: 10px;
}

#node-page-152 .view-content ul li {
  margin-bottom: 0;
}

.view-green-header h2 {
  background: url("../images/green_header.jpg") repeat-x scroll left top transparent;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  padding: 3px 10px 10px;
  margin-bottom: 0px;
}

.view-green-header th {
  font-weight: bold;
  background: #CCCCCC;
  color: #666666;
}

/* Mass contact form */
#mass-contact-mail-page .left {
  width: 180px;
  border: 1px solid silver;
  background-color: #C5D0EF;
  padding: 10px 4px 7px 7px;
  height: 750px;
  float: left;
  margin-bottom: 18px;
}

#mass-contact-mail-page .left .form-item-mails-all {
  clear: both;
  margin-bottom: 4px;
}

#mass-contact-mail-page .left .form-item-mails-all label,
#mails label {
  position: relative;
  top: -2px;
}

#mails {
  clear: both;
  overflow: auto;
  background-color: white;
  border: solid 0px 1px 0px 0px silver;
  padding: 0px;
  height: 695px;
  width: 177px;
}

#mails .form-item {
  clear: both;
}

#mass-contact-mail-page .left .form-checkbox {
  float: left;
}

#mass-contact-mail-page .left .form-item {
  margin-top: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 250px;
}

#mass-contact-mail-page .right {
  width: 550px;
  height: 767px;
  padding-left: 15px;
  border: 1px solid silver;
  border-left: 0;
  float: right;
  margin-bottom: 18px;
}

#mass-contact-mail-page .form-required {
  display: none;
}

#mass-contact-mail-page label {
  float: left;
  padding-top: 4px;
  margin-right: 4px;
}

#mass-contact-mail-page .form-type-textarea {
  width: 527px;
}

#mass-contact-mail-page .form-type-textarea textarea {
  background-color: #f3f3f3;
  border: 1px solid silver;
  height: 357px;
}

#mass-contact-mail-page #edit-message-format {
  display: none;
}

#mass-contact-mail-page .form-submit {
  background-color: #F3F3F3;
  border: solid 1px silver;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-image: initial;
}

#mass-contact-mail-page .form-item-subject label,
#mass-contact-mail-page .form-item-tomail label {
  width: 84px;
}

.calendar {
  color: #fff;
  background: #74a5d7 repeat scroll 0 0 !important;
}

.calendar .contents a {
  color: #ff7;
}

input#edit-submit.form-submit,
input#edit-submit-event-search.form-submit,
input#edit-submit-library-search {
  background-image: none;
  text-shadow: none;
} 

.page-node-3761 #page .fronttable{
  border:none;
}
.page-node-3761 #page .fronttable th,td{
    text-align:center;
    border-bottom:none;
    background:none;
  }
.page-node-3761 #page .fronttable  .tdemail{
    text-align:right !important;
  }
.page-node-3761 #page .fronttable  .tdcalendar{
    text-align: left !important;
  }
.page-node-3761 #page .fronttable td{
padding:0px;
}
.page-node-3761 #page th a {
display:contents;
}
.page-node-3761 #page .fronttable  .viewlibrary{
    margin-bottom:30px;
    padding-left:20px;
}
.page-node-3761 #page .fronttable  .upload{
    padding-right:20px !important;
    margin-bottom:30px;  
}
.page-node-3761 #page .fronttable  .revert{
    margin-top:30px;
}
