/* Print version */ 
.print-content .field {
  line-height: 24px;
  clear: both;
  overflow: hidden;
}

.print-content .field .field-label {
  width: 250px;
  float: left;
}

.print-content .field p {
  margin: 0;
}

.print-content .field .field-items {
  float: left;
}

.print-content .field .field-label .field-items {
  float: none;
}

.print-content h2 {
  border-bottom: 1px solid #666;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.print-content h2 a {
  color: #000;
  text-decoration: none;
}

hr.print-hr {
  border: 0;
  border-top: 1px solid #666;
}